[Unit]
Description=Prometheus exporter from Meraki API portal

[Service]
Type=simple
RestartSec=15sec
Restart=on-failure
WorkingDirectory=/etc/prometheus
ExecStart=/usr/bin/python3 <where wild things are>/meraki-api-exporter.py -k <API KEY>

[Install]
WantedBy=multi-user.target
